<!-- Include Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyD8DlXeHz3Ozoq0ifHjFO9fdv1YK1fckN" crossorigin="anonymous">
{% extends "template.html" %}

{% block title %}
    Loading
{% endblock %}

{% block main %}
    <h1 class = "center">Loading...</h1>
    <!-- ADD A LOADING SPINNER OR ANIMATION -->
    <script>
      // Use JavaScript to perform the delayed redirection
      setTimeout(function() {
          window.location.href = '/perform_switch';
      }, 500);  // 500 milliseconds delay for the loading page
    </script>
{% endblock %}
