{% extends "template.html" %}

{% block title %}
    Upload
{% endblock %}

{% block main %}

    <div class="upload-container">
      <h1>Upload an Image</h1>
      <form class="upload-form" action="/process_image" method="post" enctype="multipart/form-data">
        <div id="drop-area" class="mb-3">
          <div id="preview-container" style="display: none;">
            <img class = "img-fluid restricted-image" id="preview-image" src="#" alt="Preview Image">
          </div>
          <div>Drop a file here or click to select one</div>
          <input type="file" name="file" accept=".png, .jpg, .jpeg" id="fileInput" required onchange="previewImage()">
        </div>
        <button type="submit" class="btn btn-primary upload-btn-right">Upload</button>
      </form>
    </div>
    <script>
      document.getElementById('drop-area').addEventListener('dragover', function(e) {
        e.preventDefault();
        this.classList.add('border-primary');
      });

      document.getElementById('drop-area').addEventListener('dragleave', function() {
        this.classList.remove('border-primary');
      });

      document.getElementById('drop-area').addEventListener('drop', function(e) {
        e.preventDefault();
        this.classList.remove('border-primary');

        var fileInput = document.getElementById('fileInput');
        var files = e.dataTransfer.files;

        if (files.length > 0) {
          fileInput.files = files;
        }
      });

      function previewImage() {
        var fileInput = document.getElementById("fileInput");
        var previewImage = document.getElementById("preview-image");
        var previewContainer = document.getElementById("preview-container");

        var file = fileInput.files[0];

        if (file) {
          var reader = new FileReader();

          reader.onload = function (e) {
            previewImage.src = e.target.result;
            previewContainer.style.display = "flex"; // Show the preview container
            previewContainer.style.alignItems = "center";
            previewContainer.style.lineHeight = "1"; // Adjust line-height for vertical centering
            previewContainer.style.height = "auto";
          };

          reader.readAsDataURL(file);
        } else {
          // If no file is selected, hide the preview container
          previewContainer.style.display = "none";
        }
      }
    </script>
{% endblock %}

